body{
    background-color: #0f3057;
}

#header{
    font-size: 100px;
    text-align: center;
    color: #e7e7de;
    text-shadow:2px 2px 5px #e7e7de;
    font-family: 'Arvo',cursive;
}

#footer{
    background-color: #e7e7de;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: auto;
    text-align: center;
    margin:-10px;
}

.set{
    margin:1%;
    text-align: center;
    position: relative;
    top: 50px;
}

.drum {
    outline: none;
    border: 10px solid #ef4f4f;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #200518;
    text-shadow: 3px 0 #1c243b;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
}

.w{
    background-image: url("images/tom1.png");
}

.a {
    background-image: url("images/tom2.png");
}

.s {
    background-image: url("images/tom3.png");
}

.d {
    background-image: url("images/tom4.png");
}

.j {
    background-image: url("images/snare.png");
}

.k {
    background-image: url("images/crash.png");
}

.l {
    background-image: url("images/kick.png");
}

.pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}

#info{
    text-align: center;
    position: relative;
    color:#e7e7de;
    top: 50px;
}

a:hover{
    color : #0f3057
}

a{
    text-decoration: none;
}

h3:hover {
    color: #0f3057
}

#fullScreen{
    color: #e7e7de;
    text-align: center;
}